@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    border-radius: 5px;
    text-align: right;
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    outline: none;
}

li {
    display: flex;
    justify-content: space-between;
}